# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.mjs"
# should be updated accordingly.

# Next Auth
# You can generate a new secret on the command line with:
# openssl rand -base64 32
# https://next-auth.js.org/configuration/options#secret
NEXTAUTH_SECRET="my_ultra_secure_nextauth_secret"
NEXTAUTH_URL="http://localhost:3000"

# Identity server
IDENTITY_BASE_URL="http://localhost:5001"
IDENTITY_CLIENT_ID=""
IDENTITY_CLIENT_SECRET=""

# Base URL of backend
API_BASE_URL="http://localhost:5002/api"

# S3 Credentials for image upload
S3_UPLOAD_KEY=""
S3_UPLOAD_SECRET=""
S3_UPLOAD_BUCKET="name-of-s3-bucket"
S3_UPLOAD_REGION="us-east-1"

# Run `build` or `dev` with `SKIP_ENV_VALIDATION` to skip env validation.
# This is especially useful for Docker builds.
# SKIP_ENV_VALIDATION=true
