# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.mjs"
# should be updated accordingly.

# Base URL of backend
API_BASE_URL="http://localhost:5002/api"

# Contact US
NEXT_PUBLIC_SUPPORT_EMAIL=""
NEXT_CONTACT_US_FORM_KEY=""

# Recaptcha
NEXT_PUBLIC_RECAPTCHA_SITE_KEY=""
RECAPTCHA_SITE_SECRET=""

# Image CDN for loading listing image efficently
NEXT_PUBLIC_IMAGE_CDN_BASE=""

# Auth0
# https://auth0.github.io/nextjs-auth0/types/config.ConfigParameters.html
# A long, secret value used to encrypt the session cookie
# Can use following command to generate one
# node -e "console.log(crypto.randomBytes(32).toString('hex'))"
AUTH0_SECRET=""
# The base url of your application
AUTH0_BASE_URL="http://localhost:3000"
# The url of your Auth0 tenant domain
AUTH0_ISSUER_BASE_URL="https://auto-store.us.auth0.com"
# Your Auth0 application's Client ID
AUTH0_CLIENT_ID=""
# Your Auth0 application's Client Secret
AUTH0_CLIENT_SECRET=""
# Your Auth0 API audiance
AUTH0_AUDIENCE="https://www.autostore.com/api/v1"
# Scope of the auth0 application
AUTH0_SCOPE="openid profile email offline_access"

# Playwright E2E tests related variables
TEST_ADMIN_EMAIL=""
TEST_ADMIN_PASSWORD=""
TEST_ADMIN_ID=""

# Sentry (Optional)
NEXT_PUBLIC_SENTRY_KEY=""

# Run `build` or `dev` with `SKIP_ENV_VALIDATION` to skip env validation.
# This is especially useful for Docker builds.
# SKIP_ENV_VALIDATION=true